<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="Text Summarization about COVID-19 papers" />
<head>
<style>
    ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    }

    li.nav {
    float: left;
    }

    li.nav a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li.nav a.nav:hover {
    background-color: #111;
    }

</style>
</head>
<title>COVID Paper Summarization</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="{{site.baseurl}}/javascripts/list.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<ul class="nav">
        <li class="nav"><a class="nav" href="{{ site.url }}{{ site.baseurl }}"><b>HOME</b></a></li>
        <li class="nav" style="float:right"><a class="nav" href="output.json"><b>DOWNLOAD JSON</b></a></li>
        <li class="nav" style="float:right"><a class="nav" href="https://github.com/cyc1am3n"><b>GITHUB</b></a></li>
        <li class="nav" style="float:right"><a class="nav" href="https://cyc1am3n.github.io"><b>BLOG</b></a></li>
    </ul>
      
<div class="container">
    <div class="starter-template row">
        
    </div>
</div>
